<div class="main about-main">
  <div class="container">
    <div class="about-message">
      <h2>美味しいものを共有しよう！</h2>
      <p>写真を撮ってFOODレポにあげて、自分の記録用にも!みんなに共有も!誰かがあげたFOODレポを見て、気になるお店探しも!</p>
      <p>FOODLIKEを使って、いつものごはんをもっと楽しく!</p>
    </div>
  </div>  
</div>  
