<div class="main contacts-index">
  <div class="container">
    <% @contacts.each do |contact| %>
      <div class="contacts-index-item">
        <div class="contact-user">
          <div class="name">
          <% if contact.user %>
            <%= link_to(contact.user_id, "/users/#{contact.user_id}") %>
          <% else %>  
            <p><%= contact.user_id %></p>
          <% end %>  
          </div>
        </div>
        <div class="contact-content">
          <%= simple_format(contact.content) %>
        </div>
      </div>
    <% end %>
  </div>
</div>