/* contacts/index */
.contacts-index-item{
    padding: 5vh 6vh;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
}

.contact-user a{
  float:left;
  padding-left:2vh;
  font-weight: bolder;
}
  
.contact-content{
    float:left;
    margin-left: 2vh;
}

.contact-user p{
  float:left;
  padding-left:2vh;
  font-weight: bolder;
}
