  /* users/show,users/like */
  .user-show {
    text-align: center;
  }
  
  .user {
    margin-bottom: 5vh;
  }
  
  .user img {
    width: 80px;
    height: 80px;
    border-radius: 40%;
    box-shadow: 0 2px 6px #c1ced7;
    margin-bottom: 2vh;
    object-fit: cover;
  }
  
  .user h2 {
    font-size: 1.5em;
    font-weight: bolder;
    line-height: 1.2;
  }

  .user a {
    color: #8899a6;
    text-decoration: underline;
    font-weight: 200;
  }
  
  .user-tabs {
    margin-top: 2vh;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 6px #c1ced7;
  }
  
  .user-tabs li {
    float: left;
  }
  
  .user-tabs li:hover {
    border-bottom: 2px solid #3ecdc6;
  }
  
  
  .user-tabs a {
    display: inline-block;
    padding: 3vh 4vh;
  }

  .dark-button a{
    color: #afb6bf;
  }

  .light-button a{
    color: #57575f;
  }
  
  /* users/new, users/edit */
  .users{
    text-align: center;
  }
  .users-form input {
    margin-bottom: 10vh;
  }

  .actions input{
    font-size: larger;
    margin-top: 2vh;
  }

  .login a{
    font-size: larger;
  }

